USE [master]
GO
/****** Object:  Database [Insults]    Script Date: 04/01/2011 23:08:34 ******/
CREATE DATABASE [Insults] ON  PRIMARY 
( NAME = N'Insults', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Insults.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Insults_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Insults_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Insults].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Insults]
GO
/****** Object:  Table [dbo].[Insults]    Script Date: 04/01/2011 23:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Insults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Insult] [varchar](250) NOT NULL,
	[NumberOfWords] [int] NULL,
	[BurnLevel] [decimal](18, 2) NULL,
	[Flaw] [varchar](50) NULL,
	[Target] [varchar](50) NULL,
 CONSTRAINT [PK_Insults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
