<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <appSettings>
    <add key="UseReporter" value="ApprovalTests.Reporters.DiffReporter, ApprovalTests"/>
  </appSettings>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/EntityFramework.Model.csdl|res://*/EntityFramework.Model.ssdl|res://*/EntityFramework.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=EntityFrameworkDemo;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ApprovalTests.Tests.Properties.Settings.InsultsConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Insults;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
				NHibernate.Connection.DriverConnectionProvider
			</property>
      <property name="connection.driver_class">
				NHibernate.Driver.SqlClientDriver
			</property>
      <property name="connection.connection_string">
				Data Source=localhost\SQLEXPRESS;Initial Catalog=EntityFrameworkDemo;Integrated Security=True;MultipleActiveResultSets=True
			</property>
      <property name="dialect">
				NHibernate.Dialect.MsSql2005Dialect
			</property>
      <property name="show_sql">
				false
			</property>
    </session-factory>
  </hibernate-configuration>
</configuration>
