<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassiniDev" version="4.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>