<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApprovalTests.Tests.Properties.Settings.InsultsConnectionString"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Insults;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>