<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportingDemo.Properties.Settings.InsultsConnectionString"
            connectionString="Data Source=WIN-J2264SMJD6Q\SQLEXPRESS;Initial Catalog=Insults;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>