image:
- Visual Studio 2022
#- macOS
#- Ubuntu
build_script:
# https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script
- pwsh: |
    if ($isWindows) {
      Invoke-WebRequest "https://dot.net/v1/dotnet-install.ps1" -OutFile "./dotnet-install.ps1"
      ./dotnet-install.ps1 -JSonFile src/global.json -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
    }
    else {
      Invoke-WebRequest "https://dot.net/v1/dotnet-install.sh" -OutFile "./dotnet-install.sh"
      sudo chmod u+x dotnet-install.sh
      if ($isMacOS) {
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64  --install-dir '/usr/local/share/dotnet'
      } else {
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64  --install-dir '/usr/share/dotnet'
      }
    }
- dotnet build src --configuration
- dotnet test src --configuration --no-build --no-restore
test: off
artifacts:
  - path: nuget_packages\*.nupkg